@import 'src/styles/mixins';
@import 'node_modules/azure-devops-ui/Core/_platformCommon.scss';

$navRetractedWidth: 50px;
$navExpandedWidth: 400px;
$gameCardHeight: 5.5vw;
$gameCardWidth: 3.6vw;
$grey-0: $neutral-2;
$grey-1: $neutral-4;
$grey-2: $neutral-6;
$grey-3: $neutral-8;
$grey-4: $neutral-10;
$grey-5: $neutral-20;
